	.container{
		width: 65%;
		margin: auto;
		padding: 10px;
		box-shadow: 0px 0px 5px 1px;
		margin-bottom: 20px;
	}
	.uno{
		margin: 10px;
		
	}
	label{
		font-size: 20px !important;
		color: rgb(42, 42, 42)
	}
	.dos
	{
		display: grid;
  		grid-template-columns: repeat(2, 1fr);
	}
	.dos>div{
		grid-template-columns: 1/2;
	}
	.dos>fieldset>div{
		grid-template-columns: 1/2;
	}
	.text-white{
		color: white !important;
	}